html
{
    background-image: url(https://static.hitek.fr/img/actualite/2017/02/13/dragon-ball-wallpaper-640x960.jpg);
}


/*.content
{
    position:relative;
    text-align: center;
    color:#FFF;
    background-color: grey;
    opacity:0.5;
    height: 600px;
    width:550px;
    padding: 20px;
    top:80px;
    margin-top:20px;
    margin: 0 auto;
    border-radius:25px;
}*/


.namefolder1
{
    text-align: center;
    font-size: 16px;
    position: relative;
    display: flex;
    margin: 0 auto;
    top: 250px;
    width: 275px;
    opacity: 0.5;
    padding: 7px;
    box-shadow: 10px 10px 15px 0px;
    border-radius: 25px;
}


.dropzone {
    text-align: center;
    font-size: 23px;
    position: relative;
    width: 500px;
    height: 280px;
    margin: 0 auto;
    top: 350px;
    border: 4px dashed #ccc;
    line-height: 300px;
    text-align: center;
    background-color: #d0208a;
    opacity: 0.85px;
    border-radius: 25px;
    box-shadow: 10px 10px 15px 0px;
}

.dropzone.dragover {
    border-color:#000;
    color:#000;
}
#boutont{

    background-color:  #889fe4;
    box-shadow: 5px 5px 0px 0px;
    border-radius: 9px;
    font-size: 18px;
    position: relative;
}

#boutong{

    background-color:  #889fe4;
    box-shadow: 5px 5px 0px 0px;
    border-radius: 9px;
    font-size: 18px;
    position: relative;
}

/*.bouton
{
    background-color:  #889fe4;
    box-shadow: 5px 5px 0px 0px;
    padding: 5px;
    border-radius: 9px;
    font-size: 18px;
    position: relative;
    top: 390px;
    left: 465px;
    margin: 0 auto;
}*/

h1{
    left: 1350px;
    font-size: 72px;
    position: absolute;
}
label
{
    margin-left: 50;
}

table{
    top: 0;
    margin: 0 auto;
}

tr
{
    left: 50px;
    margin: 0 auto;
    position: relative;
    font-size: 20px;
    top: 350px;
    left: 200px;
}

/*#multiple
{
    /* margin: 0 auto; */
    /* position: relative; */
    /* padding: 15px; */
    /* left: 170px; */
    /* top: 50px; */
    /* margin: 10px; */
}

